/*@import url("http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700");*/
/*@import url("http://fonts.googleapis.com/css?family=Merriweather:400,300,200");*/
/*@import url("http://fonts.googleapis.com/css?family=Vollkorn:400italic,400,700");*/
@import url("http://fonts.googleapis.com/css?family=Montserrat");
@import url("http://fonts.googleapis.com/css?family=Open+Sans:400,300");
@import url("screen.css"); /* default gitit screen styles */
@import url("hk-pyg.css"); /* for syntax highlighting */

/* Put your custom style modifications here: */

body {
  margin: 0;
  font-size: 15px;
  font-family: "Open Sans", sans-serif;
  color: #393939;
  font-weight: 400;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

::selection {
  background: #393939;
  color: #fff;
  text-shadow: none;
}
::-moz-selection {
  background: #393939;
  color: #fff;
  text-shadow: none;
}

p, pre, code {
  /*line-height: 1.7em;*/
  /*margin-bottom: 20px;*/
  /*font-size: 16px;*/
}

ul {
  list-style-type: disc;
  display: block;
}

ul, ol {
  margin-top: 0;
  margin-bottom: 15px;
}

code {
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  font-size: 13px;
}

pre {
  background: #f4f8fa;
  border-left: 3px solid #5bc0de;
  margin: 20px 0;
  padding: 20px;
}

blockquote {
  margin: 0 0 20px;
  border-left: 5px solid #eee;
  font-style: italic;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  line-height: 1.12;
  color: #393939;
  text-rendering: optimizelegibility;
  font-family: "Montserrat", sans-serif;
  letter-spacing: -0.035em;
  border: none;
}

h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small {
  font-weight: 700;
  line-height: 1;
  color: #dfdfdf;
}

.pageTitle {
    border: none;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 38px;
  /*font-style: italic;*/
  /*color: #393939;*/
}

h3 {
  font-size: 30px;
  border: none
  font-style: italic;
}

h4 {
  font-size: 24px;
  border: none;
  font-style: italic;
}

h5 {
  font-size: 14px;
  border: none;
}

h6 {
  font-size: 12px;
  border: none;
}

h1 small {
  font-size: 24.5px;
}

h2 small {
  font-size: 17.5px;
}

h3 small {
  font-size: 14px;
}

h4 small {
  font-size: 14px;
}

table {
    margin-left: 2em;
}

.header {
    background: #dfdfdf;
    color: black;
}

.odd {
    background: #f9f9f9;
}

.even {
    background: white;
}

th,
td {
  padding: 8px;
  line-height: 20px;
  text-align: left;
  vertical-align: top;
  border: 1px solid #dddddd;
}

th {
  font-weight: bold;
}

tr:hover,
td:hover {
  background-color: #e8f8fd
}

a:link,
a:visited {
  color: #1D8281;
  text-shadow: 1px 0 0 #ffffff, 2px 0 0 #ffffff, -1px 0 0 #ffffff, -2px 0 0 #ffffff;
}

a:hover,
a:focus {
  color: #44bf87;
}

.bib {
    background: #f4f8fa;
    padding: 10px;
}

hr {
  border: 0;
  display: block;
  height: 5px;
  position: relative;
  max-width: 660px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  margin: 30px auto;
  box-sizing: content-box;
}
hr:before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -50px;
  width: 100px;
  height: 1px;
  background: #e5e5e5;
}

sup {
  position: relative;
  vertical-align: super;
  font-size: 14px;
  line-height: 0;
  background: #ffffff;
  margin-left: 1px;
}

.footnotes p {
  font-size: 12px;
}

/* viz */

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

#wikipage img {
}

.figure {

}

.figure img {
    max-width: 150px; /* you can use % */
    height: auto;
    float: none;
    display: inline-block;
    padding: 10px;
}

.caption {
  display: none;
    font-size: 12px;
    font-style: italic;
    width: 150px;
    height: auto;
    margin: 0 0 20px 0;
}
