*.aux
*.bbl
*.bcf
*.blg
*.doc
*.fdb_latexmk
*.fls
*.log
*.odt
*.out
*.pdf
*.pdfsync
*.png
*.Rdata
*.run.xml
.DS_store
comments/
pdf/
vc
vc.tex
vc-git.awk
misc/
*.tiff
*.xcf
*.tex
full.md
wiki/
master.bib
